.wraper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {}

.header__center {
    align-items: center;
    padding: 0 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 361px;
    height: var(--search-height);
    border: 1.5px solid transparent;

    input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        background: transparent;
        width: 292px;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown)~.btn-search {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }



    .icon-close {
        display: flex;
        position: relative;

        span {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }

        .loading {
            display: none;
        }
    }

    .loading {}

    .btn-search {
        padding: 11px 16px 11px 12px;
        margin: -12px -16px;

        cursor: pointer;
        background: transparent;
        margin-left: 0;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

}

.header__right {}